In [2]:
import pandas as pd
paq = pd.read_sas("../data/PAQ_L.xpt")
demo = pd.read_sas("../data/DEMO_L.xpt")

print("PAQ shape:", paq.shape)
print("DEMO shape:", demo.shape)

paq.head()

PAQ shape: (8153, 8)
DEMO shape: (11933, 27)

,SEQN,PAD790Q,PAD790U,PAD800,PAD810Q,PAD810U,PAD820,PAD680
0,130378.0,3.000000e+00,b'W',45.0,3.000000e+00,b'W',45.0,360.0
1,130379.0,4.000000e+00,b'W',45.0,3.000000e+00,b'W',45.0,480.0
2,130380.0,1.000000e+00,b'W',20.0,5.397605e-79,b'',NaN,240.0
3,130384.0,5.397605e-79,b'',NaN,5.397605e-79,b'',NaN,60.0
4,130385.0,1.000000e+00,b'D',90.0,1.000000e+00,b'W',60.0,180.0